@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    font-family: 'Lato', sans-serif;
}
/* TOP BAR ------------------------------------------------------------------------------------------ */
.topBar h1 {
    color: darkslategray;
    font-family: 'Lato', sans-serif;
    background: lightgray;
    padding: 5px;
    border: lightgray solid 2px;
    border-radius: 5px;
    font-size: 50px;
}

.topBar {
    text-align: center;
}

/* CONTENT SPACE------------------------------------------------------------------------------------- */

.content {
    text-align: center;
    /* border: solid black 2px; */
    padding: 5px;

}

.content .contentItem {
    
    padding: 3%;
    border-top: dashed black 2px;
}

.content .contentItem h1 {
    border-bottom: darkslategray 2px solid;
    font-size: 40px;
    
}

.content .contentItem h2 {
    font-size: 35px;
}

.content .contentItem p {
    font-size: 25px;
    
}

.sources {
    padding: 9px;
}

.sources a{
    text-decoration: none;
    background: lightskyblue;
    padding: 2px;
    border: solid lightskyblue 2px;
    border-radius: 5px;
}

/* THE BACKGROUND --------------------------------------------------------------------------------------- */
html {
    background: rgb(68, 68, 68);
}

body {
    background: gray;
    padding: 20px;
    border-radius: 5px;
    border: gray solid 2px;
}
footer {
    text-align: center;
    background: lightgray;
    padding: 20px;
}
