@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    font-family: 'Lato', sans-serif;
}
/* TOP BAR ------------------------------------------------------------------------------------------ */
.topBar h1 {
    color: darkslategray;
    font-family: 'Lato', sans-serif;
    background: lightgray;
    padding: 5px;
    border: lightgray solid 2px;
    border-radius: 5px;
}

.topBar {
    text-align: center;
}

/* CONTENT SPACE------------------------------------------------------------------------------------- */

.content {
    text-align: center;
    /* border: solid black 2px; */
    padding: 5px;

}

.content .contentItem {
    
    padding: 3%;
    border-top: dashed black 2px;
}

/* THE BACKGROUND --------------------------------------------------------------------------------------- */
html {
    background: rgb(68, 68, 68);
}

body {
    background: gray;
    padding: 20px;
    border-radius: 5px;
    border: gray solid 2px;
}
footer {
    text-align: center;
    background: lightgray;
    padding: 20px;
}