<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Artifact By Greyson B.</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='topBarAndMabyeOthers.css') }}"
  />
</head>
<body>
    <div class="topBar">
        <h1>Software Developers</h1>
    </div>
    <div class="content">
        <div class="contentItem">
            <h1>What kind of software do Software Developers use?
            </h1>
            <p>
                
            </p>
        </div>
        <div class="contentItem">
            <h1>Hello to Item 2</h1>
            <p></p>
        </div>
    </div>
    
</body>
<footer>
    No Copyright :(
</footer>
</html>
