<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Artifact By Greyson B.</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='topBarAndMabyeOthers.css') }}"
  />
</head>
<body>
    <div class="topBar">
        <h1>Software Developers</h1>
        <a href="{{ url_for('software') }}">What software do Software Developers use?</a>
        <a href="{{ url_for('what_they_do') }}">What Do Software Developers Do?</a>
        <a href="{{ url_for('languages') }}">Programming Languages.</a>
    </div>
    <div class="content">
        <div class="contentItem">
            <h1>What software do Software Developers use?</h1>
            <h2>Based On Job Listings...</h2>
            <p>Based on a job listing, the company Jobot requires Software Developers to know one or 
                more of the following: Angular, JavaScript, TypeScript, HTML, CSS, C#, Java, C++. </p>
            <p>The company Flexion, for a Remote Full Stack Engineer, requires you to have 8+ 
                years of software engineering experience, know Java Spring, Python, NodeJS, 
                Amazon States Language, Docker, AWS Lambda, and AWS Step Functions. 
                For databased, they need you to know AWS PostgreSQL RDS, AWS Redshift, and S3. Those are all with Amazon Web Services. </p> 
                <p>
                A Full Stack Developer or Engineer specialized in front-end and back-end development. Front-end development is all of the stuff the 
                user sees and interacts with. Back-end development is everything the user doesn't see, so databases, or the server hosting the website.
            </p>
            <h2>Other Software</h2>
            <p>
                From personal experience with programming and gaining information from searching the internet, many people use Git to store their projects. Git is a program that keeps track of changes to software you made 
                so you can see who did what, and when. It allows many people to work on the same project without causing problems with interfering. There are websites that host Git servers. Github and Gitlab are two of them. The Flexion company requires you to know
                Gitlab. I personally use Github and I am keeping track of this website's code on it. A website that I see being used a lot of Stackoverflow.
            </p>

        </div>
        <div class="sources">
            <a  target="_blank" href="https://www.linkedin.com/jobs/view/software-developer-at-jobot-1801382535">Job Listing (Jobot)</a>
            <a  target="_blank" href="https://flexion-openhire.silkroad.com/epostings/index.cfm?fuseaction=app.jobinfo&jobid=2457&company_id=17104&version=1&source=LinkedIn">Job Listing (Flexion)</a>
            <a  target="_blank" href="https://codeup.com/what-is-a-full-stack-developer/#">Full Stack Developer/Engineer Information)</a>
            <a  target="_blank" href="https://github.com/">Github</a>
            <a  target="_blank" href="https://github.com/nauseousKibbles/schoolArtifact">This website on Github</a>
            <a  target="_blank" href="https://stackoverflow.com/">Stackoverflow</a>
        </div>

        <!-- -------------------------------------------------------------------------------------------------------------------------- -->
        <div class="contentItem">
            <h1>What Do Software Developers Do?</h1>
            <p>Software Developers develop software to help a customer's needs. That could include: an internal system upgrade, updating to a new version of a dependency, or
                to create something new, like a website or the program on the McDonald's kiosks.</p>
            <p>Software Developers can develop software for a lot of different areas of the computer field. They aren't limited to websites or applications.</p>
        </div>
        <div class="sources">
            <a href="https://www.bls.gov/ooh/Computer-and-Information-Technology/Software-developers.htm">U.S. Bureau of Labor Statistics</a>
        </div>
<!-- -------------------------------------------------------------------------------------------------------------------------- -->




        <div class="contentItem">
            <h1>Programming Languages</h1>
            <p>There are so many different programming languages out there. Here is a list of popular ones:</p>
            <ul>
                <li>Python</li>
                <li>C#</li>
                <li>C</li>
                <li>C++</li>
                <li>JavaScript</li>
                <li>Ruby</li>
                <li>Rust</li>
                <li>Java</li>
                <li>Kotlin</li>
                <li>PHP</li>
                <li>Swift</li>
                <li>Python</li>
            </ul>
            <p>Python is used a lot with data science. </p>
            <p>A lot of the desktop programs you use are usually written in C# or C++</p>
            <p>If you want to make an Android app, you will use Java. If you want to make an iPhone app, you will use Swift.</p>
            <p>C# is Microsoft's tweaked version of Java.</p>
            <p>Amazon's cloud computing platform has 42% of the market share by revenue.</p>
        </div>
        <div class="sources">
            <a target="_blank" href="https://www.usatoday.com/story/tech/talkingtech/2017/03/01/amazon-control-internet-aws-cloud-services-outage/98548762/">AWS Market Share</a>
        </div>

        
    </div>
    
</body>
<footer>
    No Copyright Greyson Brousil
</footer>
</html>
