<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Artifact By Greyson B.</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='topBarAndMabyeOthers.css') }}"
  />
</head>
<body>
    <div class="topBar">
        <h1>Hello to Greyson's Website</h1>
    </div>
    <div class="content">
        <div class="contentItem">
            <h1>Hello this is Item 1!</h1>
            <p>Item talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahahItem talks about how I like Lasagna hahahah</p>
        </div>
        <div class="contentItem">
            <h1>Hello to Item 2</h1>
            <p>I like Items 2</p>
        </div>
    </div>
</body>
</html>