<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Artifact By Greyson B.</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='topBarAndMabyeOthers.css') }}"
  />
</head>
<body>
    <div class="topBar">
        <h1>Software Developers</h1>
        <a href="{{ url_for('software') }}">What software do Software Developers use?</a>
        <a href="{{ url_for('what_they_do') }}">What Do Software Developers Do?</a>
        <a href="{{ url_for('languages') }}">Programming Languages.</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>
    <div class="content">

<!-- -------------------------------------------------------------------------------------------------------------------------- -->




        <div class="contentItem">
            <h1>Programming Languages</h1>
            <p>There are so many different programming languages out there. Here is a list of popular ones:</p>
            <ul>
                <li>Python</li>
                <li>C#</li>
                <li>C</li>
                <li>C++</li>
                <li>JavaScript</li>
                <li>Ruby</li>
                <li>Rust</li>
                <li>Java</li>
                <li>Kotlin</li>
                <li>PHP</li>
                <li>Swift</li>
                <li>Python</li>
            </ul>
            <p>Python is used a lot with data science. </p>
            <p>A lot of the desktop programs you use are usually written in C# or C++</p>
            <p>If you want to make an Android app, you will use Java or Kotlin. If you want to make an iPhone app, you will use Swift.</p>
            <p>C# is Microsoft's tweaked version of Java.</p>
            <p>Amazon's cloud computing platform has 42% of the market share by revenue.</p>
        </div>
        <div class="sources">
            <a target="_blank" href="https://www.usatoday.com/story/tech/talkingtech/2017/03/01/amazon-control-internet-aws-cloud-services-outage/98548762/">AWS Market Share</a>
        </div>

        
    </div>
    
</body>
<footer>
    No Copyright Greyson Brousil
</footer>
</html>
