<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Artifact By Greyson B.</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='topBarAndMabyeOthers.css') }}"
  />
</head>
<body>
    <div class="topBar">
        <h1>Software Developers</h1>
        <a href="{{ url_for('software') }}">What software do Software Developers use?</a>
        <a href="{{ url_for('what_they_do') }}">What Do Software Developers Do?</a>
        <a href="{{ url_for('languages') }}">Programming Languages.</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>
    <div class="content">
        <div class="contentItem">
            <h1>What software do Software Developers use?</h1>
            <h2>Based On Job Listings...</h2>
            <p>Based on a job listing, the company Jobot requires Software Developers to know one or 
                more of the following: Angular, JavaScript, TypeScript, HTML, CSS, C#, Java, C++. </p>
            <p>The company Flexion, for a Remote Full Stack Engineer, requires you to have 8+ 
                years of software engineering experience, know Java Spring, Python, NodeJS, 
                Amazon States Language, Docker, AWS Lambda, and AWS Step Functions. 
                For databased, they need you to know AWS PostgreSQL RDS, AWS Redshift, and S3. Those are all with Amazon Web Services. </p> 
                <p>
                A Full Stack Developer or Engineer specialized in front-end and back-end development. Front-end development is all of the stuff the 
                user sees and interacts with. Back-end development is everything the user doesn't see, so databases, or the server hosting the website.
            </p>
            <h2>Other Software</h2>
            <p>
                From personal experience with programming and gaining information from searching the internet, many people use Git to store their projects. Git is a program that keeps track of changes to software you made 
                so you can see who did what, and when. It allows many people to work on the same project without causing problems with interfering. There are websites that host Git servers. Github and Gitlab are two of them. The Flexion company requires you to know
                Gitlab. I personally use Github and I am keeping track of this website's code on it. A website that I see being used a lot of Stackoverflow.
            </p>

        </div>
        <div class="sources">
            <a  target="_blank" href="https://www.linkedin.com/jobs/view/software-developer-at-jobot-1801382535">Job Listing (Jobot)</a>
            <a  target="_blank" href="https://flexion-openhire.silkroad.com/epostings/index.cfm?fuseaction=app.jobinfo&jobid=2457&company_id=17104&version=1&source=LinkedIn">Job Listing (Flexion)</a>
            <a  target="_blank" href="https://codeup.com/what-is-a-full-stack-developer/#">Full Stack Developer/Engineer Information)</a>
            <a  target="_blank" href="https://github.com/">Github</a>
            <a  target="_blank" href="https://github.com/nauseousKibbles/schoolArtifact">This website on Github</a>
            <a  target="_blank" href="https://stackoverflow.com/">Stackoverflow</a>
        </div>

      
        
    </div>
    
</body>
<footer>
    No Copyright Greyson Brousil
</footer>
</html>
