<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Artifact By Greyson B.</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='topBarAndMabyeOthers.css') }}"
  />
</head>
<body>
    <div class="topBar">
        <h1>Software Developers</h1>
        <a href="{{ url_for('software') }}">What software do Software Developers use?</a>
        <a href="{{ url_for('what_they_do') }}">What Do Software Developers Do?</a>
        <a href="{{ url_for('languages') }}">Programming Languages.</a>
    </div>
    <div class="content">
    

        <!-- -------------------------------------------------------------------------------------------------------------------------- -->
        <div class="contentItem">
            <h1>What Do Software Developers Do?</h1>
            <p>Software Developers develop software to help a customer's needs. That could include: an internal system upgrade, updating to a new version of a dependency, or
                to create something new, like a website or the program on the McDonald's kiosks.</p>
            <p>Software Developers can develop software for a lot of different areas of the computer field. They aren't limited to websites or applications.</p>
        </div>
        <div class="sources">
            <a href="https://www.bls.gov/ooh/Computer-and-Information-Technology/Software-developers.htm">U.S. Bureau of Labor Statistics</a>
        </div>

<!-- -------------------------------------------------------------------------------------------------------------------------- -->



        
    </div>
    
</body>
<footer>
    No Copyright Greyson Brousil
</footer>
</html>
